LucyBootsInstructablesCheerlightsFlow.rtf
{\rtf1\ansi\ansicpg1252\cocoartf1404\cocoasubrtf470
{\fonttbl\f0\fswiss\fcharset0 Helvetica;}
{\colortbl;\red255\green255\blue255;}
\paperw11900\paperh16840\margl1440\margr1440\vieww10800\viewh8400\viewkind0
\pard\tx566\tx1133\tx1700\tx2267\tx2834\tx3401\tx3968\tx4535\tx5102\tx5669\tx6236\tx6803\pardirnatural\partightenfactor0

\f0\fs24 \cf0 [\{"id":"58b386e5.25fd3","type":"ibmiot out","z":"374d9c82.d0cf3c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"Boot1","deviceType":"Huzzah_Boot","eventCommandType":"command","format":"text","data":"\{\}","qos":0,"name":"Boot1","service":"registered","x":1070,"y":120,"wires":[]\},\{"id":"aa176de2.3ec0f","type":"ibmiot out","z":"374d9c82.d0cf3c","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"Boot2","deviceType":"Huzzah_Boot","eventCommandType":"command","format":"text","data":"\{\}","qos":0,"name":"Boot2","service":"registered","x":1070,"y":220,"wires":[]\},\{"id":"e8916bc9.472fe","type":"inject","z":"374d9c82.d0cf3c","name":"red","topic":"manual","payload":"#ff0000","payloadType":"str","repeat":"","crontab":"","once":false,"x":124.99999237060547,"y":67.33335304260254,"wires":[["28100db3.28a6ca"]]\},\{"id":"e3870333.d129","type":"inject","z":"374d9c82.d0cf3c","name":"green","topic":"manual","payload":"#00ff00","payloadType":"str","repeat":"","crontab":"","once":false,"x":124.99999237060547,"y":107.33335304260254,"wires":[["28100db3.28a6ca"]]\},\{"id":"83e103cd.5e6768","type":"inject","z":"374d9c82.d0cf3c","name":"every 15 sec","topic":"","payload":"","payloadType":"date","repeat":"15","crontab":"","once":true,"x":116,"y":585.0000171661377,"wires":[["4968bd63.eef6c4"]]\},\{"id":"4968bd63.eef6c4","type":"http request","z":"374d9c82.d0cf3c","name":"thingspeak cheerlights","method":"GET","ret":"txt","url":"http://api.thingspeak.com//channels/1417/field/2/last.txt","tls":"","x":205,"y":639.0000171661377,"wires":[["d5c3880f.c2bf78","751ffebc.134908"]]\},\{"id":"d5c3880f.c2bf78","type":"debug","z":"374d9c82.d0cf3c","name":"","active":false,"console":"false","complete":"false","x":435,"y":659.0000171661377,"wires":[]\},\{"id":"6b3cac98.75a6b4","type":"inject","z":"374d9c82.d0cf3c","name":"blue","topic":"manual","payload":"#0000ff","payloadType":"str","repeat":"","crontab":"","once":false,"x":124.99999237060547,"y":144.33335304260254,"wires":[["28100db3.28a6ca"]]\},\{"id":"751ffebc.134908","type":"rbe","z":"374d9c82.d0cf3c","name":"","func":"rbe","gap":"","start":"","inout":"out","x":415,"y":599.0000171661377,"wires":[["9564c6c.e9d21b8"]]\},\{"id":"d58aada4.9d2c38","type":"link in","z":"374d9c82.d0cf3c","name":"left","links":["ba7feafe.92711","4b25051d.d43f84","f7cdb0bb.a2fa08"],"x":915,"y":120,"wires":[["ee48c5d9.ded44","58b386e5.25fd3"]]\},\{"id":"f51c078a.7a871","type":"link in","z":"374d9c82.d0cf3c","name":"right","links":["550798f.90e5fe8","8cf09bb4.7ce158","c13ad3fc.e95958","f7cdb0bb.a2fa08"],"x":915,"y":220,"wires":[["40d3b213.7cd234","aa176de2.3ec0f"]]\},\{"id":"28100db3.28a6ca","type":"link out","z":"374d9c82.d0cf3c","name":"","links":["6d6d912e.90683"],"x":355,"y":140,"wires":[]\},\{"id":"6c8e4379.66e554","type":"link out","z":"374d9c82.d0cf3c","name":"","links":["6d6d912e.90683"],"x":700,"y":599.0000171661377,"wires":[]\},\{"id":"923ceefa.0bec48","type":"comment","z":"374d9c82.d0cf3c","name":"Boot1","info":"","x":910,"y":80,"wires":[]\},\{"id":"bc773056.dc3dc8","type":"comment","z":"374d9c82.d0cf3c","name":"Boot2","info":"","x":910,"y":180,"wires":[]\},\{"id":"a53026d3.3aa2b","type":"comment","z":"374d9c82.d0cf3c","name":"manual colours #rrggbb","info":"j","x":124.99999237060547,"y":27.33335304260254,"wires":[]\},\{"id":"b624bcf7.1f646","type":"comment","z":"374d9c82.d0cf3c","name":"ThingSpeak cheerlights","info":"","x":105,"y":539.0000171661377,"wires":[]\},\{"id":"7c744856.ecb148","type":"inject","z":"374d9c82.d0cf3c","name":"black","topic":"manual","payload":"#000000","payloadType":"str","repeat":"","crontab":"","once":false,"x":124.99999237060547,"y":227.33335304260254,"wires":[["28100db3.28a6ca"]]\},\{"id":"40d3b213.7cd234","type":"debug","z":"374d9c82.d0cf3c","name":"","active":false,"console":"false","complete":"false","x":1090,"y":280,"wires":[]\},\{"id":"ee48c5d9.ded44","type":"debug","z":"374d9c82.d0cf3c","name":"","active":false,"console":"false","complete":"false","x":1090,"y":60,"wires":[]\},\{"id":"38d095b9.e1ebfa","type":"inject","z":"374d9c82.d0cf3c","name":"white","topic":"manual","payload":"#ffffff","payloadType":"str","repeat":"","crontab":"","once":false,"x":124.99999237060547,"y":187.33335304260254,"wires":[["28100db3.28a6ca"]]\},\{"id":"7f80cc74.601cbc","type":"inject","z":"374d9c82.d0cf3c","name":"","topic":"select","payload":"cheerlights","payloadType":"str","repeat":"","crontab":"","once":true,"x":240,"y":336,"wires":[["da8c8d30.14df48"]]\},\{"id":"b01eb0.8e2da15","type":"inject","z":"374d9c82.d0cf3c","name":"","topic":"select","payload":"manual","payloadType":"str","repeat":"","crontab":"","once":false,"x":230.00000762939453,"y":284.3333435058594,"wires":[["da8c8d30.14df48"]]\},\{"id":"da8c8d30.14df48","type":"function","z":"374d9c82.d0cf3c","name":"gearbox","func":"// do you want a \\"retained\\" message on each topic?\\nvar retained = true;\\nvar selected = context.get('selected') || null;\\n\\nif (msg.topic == \\"select\\")\\n\{\\n    selected = msg.payload;\\n    context.set('selected', selected);\\n    if (retained)\\n    \{\\n        var retains = context.get('retains') || [];\\n        if (retains[selected]) \{\\n            node.send(\{topic: selected, payload: retains[selected]\});\\n        \}\\n    \}\\n\}\\nelse \\n\{\\n    if (retained)\\n    \{\\n        var retains = context.get('retains') || [];\\n        retains[msg.topic] = msg.payload;\\n        context.set('retains', retains);\\n    \}\\n    if (msg.topic == selected) \\n    \{\\n        return msg;\\n    \}\\n\}\\n// otherwise send nothing\\n","outputs":1,"noerr":0,"x":440,"y":336,"wires":[["f7cdb0bb.a2fa08","b45b4df8.614b5"]]\},\{"id":"6d6d912e.90683","type":"link in","z":"374d9c82.d0cf3c","name":"gearbox","links":["28100db3.28a6ca","6c8e4379.66e554","149e4c61.f4b8a4"],"x":315,"y":396,"wires":[["da8c8d30.14df48"]]\},\{"id":"fbb60fa1.0760f","type":"comment","z":"374d9c82.d0cf3c","name":"default","info":"","x":64.99999618530273,"y":335.6666622161865,"wires":[]\},\{"id":"f7cdb0bb.a2fa08","type":"link out","z":"374d9c82.d0cf3c","name":"","links":["d58aada4.9d2c38","f51c078a.7a871"],"x":555,"y":260,"wires":[]\},\{"id":"9564c6c.e9d21b8","type":"change","z":"374d9c82.d0cf3c","name":"cheerlights topic","rules":[\{"t":"set","p":"topic","pt":"msg","to":"cheerlights","tot":"str"\}],"action":"","property":"","from":"","to":"","reg":false,"x":565,"y":599.0000171661377,"wires":[["6c8e4379.66e554"]]\},\{"id":"b45b4df8.614b5","type":"debug","z":"374d9c82.d0cf3c","name":"","active":true,"console":"false","complete":"false","x":610,"y":400,"wires":[]\}]}